body{
    margin: 0px;
    background-color: rgba(184,107,107,0.5)

}
.sobad{
    width: 500px;
    height: 500px;
    position: fixed;
    bottom:0;
}
p{
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    font-size: 50px;
    margin-left: 10em;
    color: #B86B6B;
    font-weight: bold;

}
p.first{
    margin-top: 2.2em;
    margin-bottom: 10px;
}
p.second{
    margin-top: 10px;
    margin-left: 10.5em;
}
p.dust{
    display:inline-block;
    margin-left: 5.5em;
    background-color: rgba(255,255,255,0.4);
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}
p.last{
    margin-left: 11.5em;
    margin-top: 0px;
}