#graph {width: 1000px}
.good{
    width: 500px;
    height: 500px;
    position: fixed;
    bottom:0;
}
#myChart {
    margin-top: 10em;
    margin-left: 30em;
}

body{
    margin: 0px;
    background-color: #DACFE2;
}

p{
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    font-size: 50px;
    margin-left: 1em;
    color: #9E76BB;
    font-weight: bold;

}

p.last{
    margin-left: 1.5em;
    margin-top: 0px;
}

/* 반응형 */
@media (max-width: 1400px){
    #graph {width: 700px}
    .good{
    width: 400px;
    height: 400px;
    }
    #myChart {
        margin-top: 10em;
        margin-left: 24em;
    }
}

@media (max-width: 1200px){
    #graph {width: 600px}
    .good{
    width: 300px;
    height: 300px;
    }
    #myChart {
        margin-top: 7em;
        margin-left: 18em;
    }
}

@media (max-width: 1000px){
    #graph {width: 500px}
    .good{
    width: 200px;
    height: 200px;
    }
    #myChart {
        margin-top: 5em;
        margin-left: 15em;
    }
}
