h1 {
    font-weight: bold;
    font-size: 60px;
    margin-left: 5%;
    margin-top: 5%;
    color: #000000;
}
a {
    text-decoration: none;
}
#box{
    position: absolute;
    right: 49%;
    top: 60%;
    font-weight: bold;
    font-size: 60px;
    transform: rotate(-15deg);
}
#join {
    color: #EF880F;
}
#login {
    color: #D688C0;
}
