<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>나쁨</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bad.css') }}">
    </head>
    <body>
        <img class = "bad"src="{{url_for('static', filename='image/bad.png')}}">
    <p class="first">1학년 2반의</p>
    <p class="second">미세먼지 농도</p>
    <br>
    <p class="dust">74.4</p>
    <p class="last">마스크 여매고 댕겨라,,,<br>끌끌,,,</p>



    

</body>
</html>