<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>보통</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normal.css">
    </head>
    <body>
    <img class = "normal"src="{{url_for('static', filename='image/normal.png')}}">
    <p class="first">1학년 2반의</p>
    <p class="second">미세먼지 농도</p>
    <br>
    <p class="dust">30.4</p>
    <p class="last">애매하네...</p>



    

</body></html>