<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>매우 나쁨</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobad.css') }}">
    </head>
    <body>
        <img class = "sobad"src="{{url_for('static', filename='image/signup.png')}}">
    <p class="first">1학년 2반의</p>
    <p class="second">미세먼지 농도</p>
    <br>
    <p class="dust">256.7</p>
    <p class="last">당장 공기청정기 켜!!</p>



    

</body></html>