<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
</head>

<body>
    <img class="good" src="image\chart.png">
    
    <p class="last">어제그제그저께........</p>
    <div id="graph">
        <canvas id="myChart"></canvas>
    </div>
</body>
<script>
	var valuelist = {{ data|safe }};
	console.log(valuelist);
</script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>

</html>
