<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/good.css') }}">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/temp.js') }}"></script>
</head>
<body>
    
    <img class="good" src="{{url_for('static', filename='image/good.png')}}">
    <p class="first">1학년 2반의</p>
    <p class="second">미세먼지 농도</p>
    <br>
    <p id="dust">{{ munge.munge }}</p>
    <p class="last">창문열고 맑은공기 쓰읍</p>

</body>
</html>
