<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원가입</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    </head>
    <body>
            <h1>회원가입</h1>
	<form action="/join" method="POST">
        <div class = "container">
            <div class = "signup">
                <input name="email" type ="text" placeholder=" 부산쏘마고 이메일"></input><br>
                <input name="password1" type = "password" placeholder=" 비밀번호"></input><br>
                <input name="password2" type = "password" placeholder=" 비밀번호 확인" ></input<br>
            </div>
            <br>
            <div class = "submit">
                <button type="submit" id="" class="btnImages">
                    <img src="{{url_for('static', filename='image/btn_2.png')}}" alt="btnImages" class="btnImages">
                </button>
            </div>
            <p align = "right" style = "margin-right : 550px; margin-top : -135px;">
                <input name="name" class = "name" type = "text" placeholder = " 이름"></input><br>
                <img src = "{{url_for('static', filename='image/signup.png')}}">
            </p>
    </form>
    </body>
</html>
