<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빠인더스트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/measure.css') }}">
    <link rel="stylesheet" href="../static/css/measure.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/measure.js') }}"></script>
</head>
<body>
    <a id="logout" href="/logout">logout</a>
    <a href="{{ url_for('main.chart') }}"><img class="good" src="{{ url_for('static', filename='image/good.png') }}"></a>
    <p class="first">{{ grade }}학년 {{ ban }}반의</p>
    <p class="second">미세먼지 농도</p>
    <br>
    <p id="dust">{{ munge.munge }}</p>
    <p class="last">창문열고 맑은공기 쓰읍</p>
</body>
</html>
